<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!--CSS Personalizado-->
  <link rel="stylesheet" href="/style.css">

  <title>Guia de Estudos Júnior</title>
</head>

<body>

  <!--Cabeçalho-->
  <header>

    <nav class="navbar navbar-expand-sm navbar-light navega">
      <div class="container">
        <!--Logo Site-->
        <a href="./" class="navbar-brand">
          <img src="/Imagens/gej (2).png" width="142">
        </a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="./">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/materiais">Materiais</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/suporte">Suporte</a>
            </li>

            <li class="nav-item">
              <button class="btn btn-light" onclick="window.location.href='login.html'">
                <span class="text-secondary">Entrar</span>
              </button>
            </li>
          </ul>
        </div>
      </div>

    </nav>
  </header>

  <section class="container bg-light">
    <div class="row m-3">
      <div class="col-12 introducao">
        <h2 class="text-center p-3">O que é esse site?</h2>
        <h3>Dê os primeiros passos na jornada da programação com a GEJ!</h3>
        <p>Se você sempre quis desvendar os segredos da programação, mas não sabe por onde começar, a GEJ é o seu portal para um mundo de possibilidades! Somos uma plataforma focada em auxiliar iniciantes como você a darem os primeiros passos nessa área tão promissora.</p>
        <h3>Aprenda na prática, sem complicações!</h3>
        <p>
          Na GEJ, você não precisa ter nenhum conhecimento prévio. Através de tutoriais interativos e passo a passo, você vai aprender os conceitos básicos da programação colocando a mão na massa.</p>
        <h3>Exercicios para desenvolver suas habilidades</h3>
        <p>

Desafios para colocar suas habilidades à prova!

Que tal testar seus conhecimentos e se divertir ao mesmo tempo? Na GEJ, você encontra desafios que simulam situações reais de programação, te ajudando a aprimorar suas habilidades e fixar o aprendizado.</p>
      <h3>Uma comunidade que te apoia!</h3>
      <p>Duvidas? Envie por email através da página de <a href="/suporte" class="text-primary">Suporte</a> Precisa de ajuda? Na GEJ, você tem acesso a uma equipe de programadores iniciantes e experientes prontos para te auxiliar e trocar ideias.</p>
      <h3>Tudo para seus primeiros passos</h3>
      <p>Oferecemos uma biblioteca completa de recursos, incluindo documentações e videoaulas, para você se aprofundar no mundo da programação no seu ritmo.</p>
      <h3>Comece sua jornada agora mesmo!</h3>
      <p>A GEJ é totalmente gratuita e acessível a qualquer pessoa, independente de idade ou experiência anterior.<a href="/cadastro" class="text-primary">Cadastre-se</a> agora mesmo e dê o primeiro passo para se tornar um programador de sucesso!</p>
      
      <h5 class="text-center text-success"><b>GEJ: A sua chave para o sucesso na programação!</b></h5>
      </div>
    </div>
  </section>

  <footer class="py-3 sticky-bottom">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="./" class="nav-link px-2 text-body-secondary text-secondary ">Home</a></li>
      <li class="nav-item"><a href="/materiais" class="nav-link px-2 text-body-secondary text-secondary">Materiais</a></li>
      <li class="nav-item"><a href="/suporte" class="nav-link px-2 text-body-secondary text-secondary">Suporte</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
  </footer>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <script src="/app.js"></script>
</body>

</html>